fastapi
feedparser>=6.0.10
finnhub_python
kafka_python
langchain
langchain_chroma
langchain_core
langchain_huggingface
langchain_text_splitters
passlib
pydantic
PyJWT
PyJWT
python-dotenv
redis
Requests
SQLAlchemy
trafilatura
pydantic[email]